<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div class="box">
  <form>
    <div class="row">
      <h1> Account Details </h1>
      	  <div class="input-group input-group-icon">        
		<input type="text" placeholder="Name on Account"/>
		<div class="input-icon"><i class = "material-icons">account_box</i></div>
      	  </div>
      	  <div class="input-group input-group-icon">
        	<input type="text" placeholder="Account Number"/>
		<div class="input-icon"><i class = "material-icons">attach_money</i></div>
	  </div>
	  <div class="input-group input-group-icon">
		<input type="text" placeholder="Transit Number"/>
		<div class="input-icon"><i class="material-icons">lock_outline</i></div>
	  </div>
	  <div class="input-group input-group-icon">
		<input type="text" placeholder="Institution ID"/>
		<div class="input-icon"><i class="material-icons">account_balance</i></div>
	  </div>
	</div>

  </form>
    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group">
        <input type="checkbox" id="terms"/>
        <label for="terms"><span>I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</span></label>
	  </div>
	</div>
	<a href="http://localhost:3000/welcome" class="myButton pull-right">Continue</a>
</div>
