<p> 
	<strong>Name:</strong>
	<%= @profile.firstname + " " + @profile.lastname %>
	<br>
	<strong>Date of birth:</strong>
	<%= @profile.dob %>
</p>

<p>
	<strong>Description</strong>
	<br>
	<%= @profile.description %>
</p>

<br>

<%= link_to 'Edit Profile', edit_profile_path %>