<div class="modal fade" id="endorsementModal" tabindex="-1" role="dialog" aria-labelledby="endorsementModal" aria-hidden="true">
  <div class="modal-dialog" style="z-index: 1041">
    <div class="modal-content">
		<div id="custom-search-input">
			<div class="input-group col-md-12">
				<input id="searchmodal" type="text" class="form-control input-lg" placeholder="Search" />
				<span class="input-group-btn">
					<button class="btn btn-info btn-lg" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
			<ul class="list-group">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
</div>
</div>

