/**
 * Global CSS Settings
 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0; padding: 0;
    background: #f7f7f7;
    font-family: benton-sans,'Helvetica Neue',helvetica,arial,sans-serif;
	font-family: 'Open Sans', sans-serif;
}

/**
 * Header
 */

header {
    position: fixed;
    top: 0px; 
    left: 0px; right: 0px;
    background: #5C6896;
    color: #fff;
    height: 65px;
    border-bottom: 5px solid #eee;
    z-index: 0;
}

/**
 * Main Content
 */

 /*
section {
	margin-top: 50px;
	padding: 50px;
	margin: 0 auto;
	max-width: 100%;
}
*/

section .index {
  margin-top: 50px;
  /* padding: 50px; */
  margin: 0 auto;
  max-width: 100%;
}

/**
 * Footer
 */
footer {
    position: fixed;
    bottom: 0px;
    right: 0px;	
    background: #343434;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 13px;
	width: 100%;

}
footer a {color: #fff;}

