nav {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
color: #fff;
background-color: #F1F1F1;
}


.blk-txt {

	color: black;
}

.nav_trigger {
	cursor: pointer;
	display: inline-block;
	font-size: 26px;
	padding-top: 10px;
  	color: #F1F1F1;
  	float: right;
}


.nav_link a {
	cursor: pointer;
	display: inline-block;
	font-size: 26px;
	padding-top: 10px;
	color: #F1F1F1;
}

.nav_header a {

	color: #F1F1F1;
}

.nav_link a:visited{

	color: #F1F1F1;
}

.nav_header a:visited {
	
	color: #F1F1F1;
}

#push_sidebar {
	padding-top: 12px;
	background: #31373d;
	border-right: 0px solid #ddd;
	bottom: 0;
	color: #95A7B7;
	right: 100%;
	z-index: 100;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 25%;

	-webkit-transition: all .50s ease;
	   -moz-transition: all .50s ease;
	    -ms-transition: all .50s ease;
	     -o-transition: all .50s ease;
	        transition: all .50s ease;
}

#push_sidebar h2 {

	padding: 10px;
	text-align: right;
	font: 18px Tahoma, Arial, serif;
	color: #95A7B7;
}


@media (max-width: 767px) {
	.nav_trigger {
		font-size: 19px;
		margin: 5px 5px 0 20px;
	}
	#push_sidebar {
		width: 80%;
	}
	body.show_sidebar #push_sidebar {
		right: 20%;
	}
	body.show_sidebar #wrapper {
		margin-right: 80%;
		width: 20%;
	}	
}

@media (min-width: 992px) {
	#push_sidebar {
		width: 20%;
	}
	body.show_sidebar #push_sidebar {
		right: 80%;
	}
	body.show_sidebar #wrapper {
		margin-right: 20%;
		width: 80%;
	}	
}

/***********************************/

#push_sidebar ul {

	padding-top: 15px;

}

#push_sidebar li a {
	padding: 10px 15px 10px 5px;
	display: block;
	font: 13px Tahoma, Arial, serif;
	background: #31373d;
	color: #95A7B7;
	text-decoration: none;
	border-bottom: 1px solid #3D454C;
}
#push_sidebar li a:hover {
	background-color: #272c30;
	color:#95A7B7
}
#push_sidebar li a .fa {
	font-size: 19px;
	float: right;
	width: 30px;
	text-align: center;
	margin-left: 5px;
}
