.panel.panel-primary
  .panel-body
    %h3 Connect
    %p There are 3 ways to create/connect your Stripe account.

    %ul.list-group
      %li.list-group-item#stripe-oauth
        %a.pull-right.btn.btn-lg.btn-primary{ href: stripe_oauth_path } Connect
        %h3 OAuth
        %p Connect or create a Stripe account via OAuth.
