%h1= @user.username

- if @user.connected?
  - if @user == @current_user
    - # you're looking at your own 'profile', so you can
    - # update/deauthorize/etc your Stripe account
    = render partial: 'settings'
  - else
    = render partial: 'pay'

- else
  - if @user == @current_user && !@current_user.connected?
    - # you're looking at your own 'profile', so you can
    - # create/connect/etc your Stripe account
    = render partial: 'connect'
  - else
    .panel.panel-danger.not-connected
      .panel-body
        %h3 Not Connected
        %p
          This user is not connected to Stripe, so
          you can't pay them.
