<p>
  <strong>Skill:</strong>
  <%= @skill.skill_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>
<p>
  <strong>Experience:</strong>
  <%= @skill.experience %>
</p>
 
<%= link_to 'Back', user_skills_path %>