<head>
<%= stylesheet_link_tag 'style1' %>
</head>

<h1>Edit Your Profile</h1>

<%= render 'client_form' %>
 <% if user_signed_in? %>

	<%= render :partial => "nav/usermenu" %>


<% else %>

	<%= render :partial => "nav/defaultmenu" %>

<% end %>
