
.profile 
{
    min-height: 415px;
    min-width: 750px;
}

a.white {
  color: white;
}
a.white:link {
    color: white;
}

/* visited link */
a.white:visited {
    color: white;
}

/* mouse over link */
a.white:hover {
    color: white;
}

/* selected link */
a.white:active {
    color: white;
}


.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }



.padding-top {
  padding-top: 100px;
}


.no-collapse{
  position: relative;
  min-height: 450px;
  max-height: 200px;
}


.align-box {
  position: relative;
  max-width: 100%;
  width: 100%;
}
img.prj {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.profile-align {

    margin-top: 20px; 
    margin-bottom: 20px;
}
